{% extends "ColdBlooded/layout.html" %}

{% block body %}

    <div>
        <h2>{{ snake.name }}</h2>
        <ul><strong>Scientific Name:</strong> {{ snake.sciname }}</ul>
        <picture>
            <img src="{{ MEDIA_URL }}{{ snake.picture }}" class="img-fluid" style="width:560px; height:auto;">
        </picture>
        <ul><strong>Description: </strong>{{ snake.description }}</ul>
        <ul><strong>Range: </strong> {{ snake.range }}</ul>
        <img src="{{ snake.rangepic }}" alt="map: range of habitat">
    </div>
    
    <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" href="{% url 'edit' snake.name %}">Edit</a>

{% endblock %}