{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Snakingdom{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'ColdBlooded/styles.css' %}" rel="stylesheet">
    </head>
</html>
<body>
    <div>
        {% if user.is_authenticated %}
            Signed in as <strong>{{ user.username }}</strong>.
        {% else %}
            Not signed in.
        {% endif %}
    </div>
   
    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand"  href="{% url 'index' %}">Snakingdom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'trivia' %}">Trivia</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create' %}">Create New Entry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'newtrivia' %}">Crate New Trivia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex" method="GET" action="{% url 'search' %}">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search a snake" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
      </nav>
    <hr>
    {% block body %}
    {% endblock %}
</body>